<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Employees Database</title>
	</head>
	<body>
		<h1>Employees</h1>
		<h3>User: <span th:text="${user.name}"></span>-  Password: <span th:text="${user.password}"></span></h3>	
			
		<table border=1>
			<thead>
				<tr><th>Id<th>Name<th>Job<th>Salary<th>Delete<th>Modify
				</tr>
			</thead>
			<tbody>
				<tr th:if="${employees.empty}">
					<td colspan="2"> No employees available </td>
					</tr>
					<tr th:each="employee: ${employees}">
					<td><span th:text="${employee.id}"></span></td>
					<td><span th:text="${employee.name}"></span></td>
					<td><span th:text="${employee.job}"></span></td>
					<td><span th:text="${employee.salary}"></span></td>
					<td><a th:href="@{/delete/}+${employee.id}">Delete</a></td>
					<td><a th:href="@{/modify/}+${employee.id}">Modify</a></td>
					
				</tr>
			
			</tbody>
		
		
		</table>
		<form th:action="${action}" th:object="${employee}" method="post">
		<br> ID: <input type=text name=id th:field="*{id}" value="*{id}">
		Name: <input type=text name=name th:field="*{name}" value="*{name}">
		Job:
		<select th:field="*{job}">
			<option th:each="job :${T(com.example.demo.bean.JobType).values()}"
			th:value="${job}"
			th:text="${job.position}">
			</option>
		</select>
		
		<input type=submit name=submit th:value="${button}">
		</form>
			
<!-- 			Formulario para escribir y buscar el trabajo -->
<!-- 		<form action="/search" method="post"> -->
		
<!-- 		<input type=submit name=submit th:value="${button1}"> -->
<!-- 		</form> -->
		
<!-- 	 		Desplegable para elegir el trabajo -->
<!-- 		<select th:field="*{job}" > -->
<!--       <option th:each="usertype : ${UserTypes}" -->
<!--              th:text="${usertype}" -->
<!--      th:value="${usertype}"> -->
<!--     </option> -->
<!--     </select> -->
		
		
		
	</body>
</html>